body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header {
    flex-shrink: 0;
    z-index: 1020;
}

.d-flex {
    overflow: hidden;
    flex: 1;
}

main {
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-link {
    transition: all 0.2s ease;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.295) !important;
}

.nav-link.bg-primary.bg-opacity-10 {
    background-color: rgba(13, 110, 253, 0.1) !important;
}
