<div class="row">
    <div class="col-12">
        <h2 class="mb-4">Настройки</h2>
        <div class="card">
            <div class="card-body">
                <p class="mb-0">5</p>
            </div>
        </div>
    </div>
</div>
